body {
  background-color: darksalmon;
}
@media (max-width: 992px) {
  .recipe-container {
    flex-direction: column;
  }

div .recipe1 {
    width: 100%;
    margin: 10px;
  }
div .recipe2{
  width: 100%;
  margin: 10px;
}

div .recipe3{
  width: 100%;
  margin: 10px;
}


#main {
    height: calc(100vh - 100px);
    overflow-y: auto; 
}
.container {
    min-height: 100%;
}

.recipe-container {
    padding-top: 0px; 
    margin-top: 80px; 
    margin-right: 20px;
  }
  #header {
    position: fixed; 
    top: 0px; 
    width: 100%; 
    z-index: 1000; 
  }
}




.recipe-container {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recipe1, .recipe2, .recipe3 {
  width: 30%;
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.recipe1 img, .recipe2 img, .recipe3 img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.espaco, .espaco1 {
  margin-top: 10px;
}

.recipe1 h2, .recipe2 h2, .recipe3 h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.recipe1 p, .recipe2 p, .recipe3 p {
  color: #666;
  font-size: 16px;
}

footer {
  background-color: #302f2f;
  color: #fff;
  text-align: center;
  padding: 1px;
  right:0.5px ;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav-item.active .nav-link {
background-color:transparent;
color: #fff;
}

.navbar{
z-index: 999;
}
