body {
  background-color: darksalmon;
  max-width: 100%;
    height: 100%;
   
  
}


footer {
  background-color: #302f2f;
  color: #fff;
  text-align: center;
  padding: 0.1px;
  right:0.5px ;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#header {
  position: fixed; /* Tornando a barra de navegação fixa */
  top: 0; /* Colocando-a no topo da janela */
  width: 100%; /* Definindo a largura como 100% */
  z-index: 1000; /* Ajustando o z-index se necessário */
}
#main {
  height: calc(100vh - 100px);
  overflow-y: auto; /* Adicionando overflow-y automático */
}
.container {
  min-height: 100%;
  overflow: hidden;
}

.logo {
  text-align: center;
  margin-top: 50px; /* Ajuste conforme necessário */
}
.logo img {
  width: 100%;
  max-width: 400px; /* Defina o tamanho máximo conforme necessário */
  height: auto;
  margin-bottom: 20px; /* Espaçamento inferior entre a imagem e o texto */
}
.logo h1 {
  position: relative;
  bottom: 20px; /* Ajuste conforme necessário */
  left: 0; /* Reinicializa a posição para o centro */
}
.logo p#perfume  {
  position: relative;
  margin: 0; /* Remova as margens padrão */
  font-size: 15px;
}
@media (min-width: 1220px) {
  .logo img {
      position: relative;
      max-width: 30%;
      right: 190px; /* Ajuste para PCs */
      top: 90px; /* Ajuste para PCs */
  }
  .logo h1 {
      bottom:120px;
      left: 150px; /* Ajuste para PCs */
  }
p#perfume,p#perfume_bar {
    position: relative;
    left: 530px;
    bottom: 115px;
    font-weight: bold;
    font-size: 22px;
  }
}
