body{
    background-color: darksalmon;
    max-width: 100%;
      height: auto;
    
  }
  
  
  @media only screen and (max-width: 600px) {
    /* Estilos para dispositivos com largura máxima de 600px */
  }
#header {
    height: 60px;
}
#main {
    height: calc(100vh - 100px);
    overflow-y: auto; /* Adicionando overflow-y automático */
}
#footer {
    height: 25px;
}
.btn {
  width: 100%;
}

footer {
    background-color: #302f2f;
    color: #fff;
    text-align: center;
    padding: 1px;
    right:0.5px ;
    position: absolute;
    bottom: 0;
    width: 100%;
}





